
header {
    background-color:#000019;
    color:white;
    text-align:center;
    padding:5px;
	font-size:20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.navbar {
    float: left;
	text-align: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


nav {
    line-height:30px;
	color:black;
    height:200px;
    width:200px;
    float:right;
    padding:5px;	      
}
section {
	color:black;
    width:400px;
    float:left;
    padding:20px;	 
}

footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
